.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(rgb(34, 34, 190),white);
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}
.heading{
  color:rgb(73, 48, 209);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pic, .pic1, .pic2{
  width: 400px;
  border-radius: 35%;
}
.pic1{
  height: 275px;
}

.pic2{
  width: 100px;
  margin-bottom: 25px;
}

.smallTag{
  color: gray;
  padding-bottom: 24px;
}

.button{
  font-size: 15px;
  color: #fcfcfc;
  background-color: rgb(31, 118, 231);
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.button2{
  font-size: 20px;
  color: #fcfcfc;
  background-color: rgb(31, 118, 231);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 50px;
}

.inputSpace, .inputSpaceComments{
  width: 50px;
  background: 
      linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 1px no-repeat;
  background-color: #fcfcfc;
  border: 1px;
  padding: 10px;
  padding-top: 10px;
  margin: 15px;
  margin-top: 5px;
}

.inputSpaceComments{
  width: 150px;
}

#list{
  list-style-type: none;
  margin-top: 1px;
  margin-bottom: 50px;
}

.listComplete{
  color: rgb(1, 1, 107);
  padding: 24px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
table{
  width: 100%;
}

tr:nth-child(even) {
  background: lightgrey
}